
{% extends 'layout.html' %}

{% block title %}My Flask App{% endblock %}

{% block content %}
<img src="{{ user_image }}" alt="User Image">
    {% include 'header.html' %}

    <h1>User Details</h1>
    {% if error %}
        <h3>{{ error }}</h3>
    {% else %}
        <table>
            <tr>
                <th>Name</th>
                <th>cost</th>
                <th>pic</th>
                <th>descript</th>
            </tr>
            {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.cost }}</td>
                    <td>
                        {% if student.pic %}
                            <img src="{{ student.pic }}" alt="{{ student.name }}" width="100">
                        {% else %}
                            <p>No picture available</p>
                        {% endif %}
                    </td>
                    <td>{{ student.descript }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}



    <!-- </div> -->
{% endblock %}