<!-- header.html -->
<header>
    <div class="container">
        <img src="{{ user_image }}" alt="User Image">
        <h3>Name: Rakshitbhai Sarkheliya</h3>
        <h4>ID: 112755</h4>
       
        <table class="highlight">
            <thead>
                <tr>
                    <th>Select your options</th>
                </tr>
            </thead>
            <tbody>

              

                <tr><td><a href="/search_user">Allow user to give a name and you will show the name and  picture etc in web</a></td></tr>
               
            </tbody>
        </table>
    </div>
    
</header>

