<!-- header.html -->
<header>
    <div class="container">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Select your options</th>
                </tr>
            </thead>
            <tbody>

                <h3>Name: Rakshitbhai Sarkheliya</h3>
                <h4>ID: 112755</h4>
                <img src="{{ user_image }}" alt="User Image">
<!-- 
                <tr><td><a href="/1">option 1</a></td></tr>
                <tr><td><a href="/2">option 2</a></td></tr>
                <tr><td><a href="/3">option 3</a></td></tr> -->
               
            </tbody>
        </table>
    </div>
    
</header>

