<!-- header.html -->
<header>
    <div class="container">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Select your options</th>
                </tr>
            </thead>
            <tbody>
           
                <tr><td><a href="/1">option 1</a></td></tr>
                <tr><td><a href="/2">option 2</a></td></tr>
                <tr><td><a href="/3">option 3</a></td></tr>
               
            </tbody>
        </table>
    </div>
    
</header>

