

{% extends 'layout.html' %}

{% block title %}My Flask App{% endblock %}

{% block content %}
<img src="{{ user_image }}" alt="User Image">
{% include 'header.html' %}

<div class="form-container">

<h5>Search for a Person image</h5>
    <form method="post" action="/search_user">
        <input type="text" name="name" placeholder="Enter name to search">
        <input type="submit" value="Search">
    </form>
      <form action="/display_user_range_info" method="post">
        Enter Grade Range 1: <input type="text" name="range1"/><br/><br/>
        Enter Grade Range 2: <input type="text" name="range2"/><br/><br/>
        <input type="submit" value="Submit"/>
    </form>
 </div>
{% endblock %}